body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
    color: #2A4A5C;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    background: none;
    border: none;
}